# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.dgg-character-creator.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\GitHub\seex-game\dgg-character-creator\.idea\.idea.dgg-character-creator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
